body {
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    margin-bottom: 10px;
    width: 30%; /* Це встановлює відносну ширину для елементів сітки */
}

.grid-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
